.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
Package.resolved
/Benchmarks/Internal/tmp
/Benchmarks/Internal/Frameworks/*
/Benchmarks/Internal/LocalTCA/Sources/*
/Benchmarks/Internal/ReferenceTCA/Sources/*